.dateTileWrap {
    position: absolute;
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    /* 16.2px */
    letter-spacing: 0.18px;
    top: 32px;
    width:100%

}

.detailWrap{
    display:flex;
    flex-direction: column;
    padding:0px 16px;
    margin-bottom:24px;


}

.gymNames{
    color: #FFF;
font-family: "Plus Jakarta Sans";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 135%; /* 27px */
letter-spacing: 0.3px;
margin:8px 0px;
margin-left:8px;
}

.locationName{
    color: #FFF;
font-family: "Plus Jakarta Sans";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 135%; /* 16.2px */
text-transform: capitalize;
margin-left:8px;
display: flex;
align-items: flex-start;
gap:4px;

}
.backBtn{
    color:'#fff';
}

.activityImg{
    height: 250px;
    aspect-ratio: 25/36;
    width: 100%;
}

.activityHeading{
color: #212121;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 135%; /* 27px */
letter-spacing: 0.3px;
margin-top:12px;
}

.activityDate{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(33, 33, 33, 0.75);
    margin:4px 0px
}

.dot{
    display: inline-block;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: #212121;
    margin:0px 4px;
}
.activityLoc{
    color: var(--Text-Primary, #05070B);
font-family: "Plus Jakarta Sans";
font-size: 12px;
text-align: center;
font-weight: 400;
line-height: 135%; /* 16.2px */
letter-spacing: 0.18px;
text-transform: capitalize;
margin-top:8px;
margin-bottom:32px;

}

.sectionActHeading{
    color:  #05070B;
text-align: right;
font-family: "Open Sans";
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 135%; /* 16.2px */
letter-spacing: 1.92px;
text-transform: uppercase;
display: flex;
align-items: center;
white-space:nowrap;

justify-content: center;
width: 100%;
}

.sectionActItems{
    color: #696969;
font-family: "Plus Jakarta Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 135%; /* 18.9px */
letter-spacing: 0.21px;
}

.shareAndBack{
    background: transparent;
    position: absolute;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.Btn{
    padding:8px;
    border-radius: 100px;
background: rgba(0, 0, 0, 0.75);
backdrop-filter: blur(1.5px);
margin:8px;
}