
body {
  margin: 0;
  font-family: 'Plus Jakarta Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    overscroll-behavior: none;
}

html,body{
  overflow-y:hidden;
}

code {
  font-family: 'Plus Jakarta Sans';
}
